<h1>Listado de Cursos</h1>

<div class="row">

    <div *ngFor="let curso of cursos" class="col-md-3">

<mat-card>
    <mat-card-header>
        <mat-card-title>{{curso.nombre}}</mat-card-title>
      
    </mat-card-header>

     <img mat-card-image [src]="curso.imagen">

    <mat-card-content>
       <p> Dictado por {{curso.profesor}}</p>
       <p> Comienza {{curso.fechaInicio | date: 'dd/MM/YYYY'}}</p>
       <p> Finaliza {{curso.fechaFinal | date: 'dd/MM/YYYY'}}</p>
       <p [appColorInscripcion]="curso.inscripcionAbierta">  {{curso.inscripcionAbierta | inscurso: 'Inscripcion Abieta' : 'Curso Cerrado'}}</p>

    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
    </mat-card-actions>
</mat-card>
</div>
</div>