<div class="row" id="rowcard">
    <div class="card" id="cards" style="width: 18rem;">
        <img src="../../../assets/images/icon1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CURSO PILOTO</h5>
        <button class="btn btn-primary" id="botoneleccion">ACCEDER</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="../../../assets/images/icon2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">PROGRAMACION</h5>
        <button class="btn btn-primary" id="botoneleccion">ACCEDER</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="../../../assets/images/icon3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SEGURIDAD</h5>
        <button class="btn btn-primary" id="botoneleccion">ACCEDER</button>
        </div>
    </div>
  
</div>
