<div class="row" id="rowcard">
    <div class="card" id="cards" style="width: 18rem;">
        <img src="src/assets/images/icon1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">QUIERO SER CR7</h5>
            <p class="card-text">Comida FIT</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="./images/icon2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">QUIERO CHATARRA</h5>
            <p class="card-text">Comida con grasa</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="./images/icon3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SOY VEGETA</h5>
            <p class="card-text">0 carne</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="./images/icon3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">EL DIEGO EN NAPOLES</h5>
            <p class="card-text">Todo Pasta</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="./images/icon3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">EL DIEGO EN NAPOLES</h5>
            <p class="card-text">Todo Pasta</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
    <div class="card" id="cards" style="width: 18rem;">
        <img src="./images/icon3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">EL DIEGO EN NAPOLES</h5>
            <p class="card-text">Todo Pasta</p>
        <button class="btn btn-primary" id="botoneleccion">Metele Random</button>
        </div>
    </div>
</div>
