/* You can add global styles to this file, and also import other style files */
#nav{
    background-color: blueviolet;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
}